<!DOCTYPE html>
<html lang='en' ng-app='toDoApp'>
  <head>
    <meta charset="utf-8">
    <script src='bower_components/angular/angular.js'></script>
    <script src='js/app.js'></script>
    <script src='js/controllers/ToDoController.js'></script>
    <title>Todos App</title>
  </head>
  <body>
    <div id='todos' ng-controller='ToDoController as controller'>
      <input id='newtodos' type='text' ng-model='todoText' placeholder="add new todos">
      <button id='addtodos' ng-click='controller.addToDo(todoText)'>Add to the list</button>
      <button id='removetodos' ng-click='controller.removeToDo()'>Remove ToDo<button>
      <li ng-repeat='each in controller.todos'>
        {{ each.text }}: {{ each.completed ? 'completed' : 'not completed'}}
      </li>
    </div>
  </body>
</html>
